@use 'config' as *;

@media (min-width: 1500px){
   .listDiv {
      width: 1400px;
      margin: 0 auto;
   }
}

@media (max-width: 1050px){
   .item-tags {
      position: relative;
      right: 0;
      
      li {
         transform: translate(-10px);
      }
   }

   .list-item > div {
      display: block;
   }

   .item-section {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $cyan-gray;
   }
}

@media (max-width: 815px){
   .list-item {
      margin: 60px 5%;
      padding: 45px 35px 35px 35px;
   }

   .list-item > img {
      position: absolute;
      scale: .80;
      top: -45px;
      left: 10px;
   }

   .item-tags {
      flex-wrap: wrap;
   }
}

@media (max-width: 575px){
   .listDiv {
      padding: 30px;
   }

   .list-item, .list-filter {
      margin: 60px 0;
   }

   .reset-data {
      margin: 20px 0;
   }
}

@media (max-width: 355px){
   .listDiv {
      padding: 0;
      scale: .85;
      transform: translateY(-350px);
   }
}